<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h2>Hello World, en Heroku.</h2>
    <p>TODO: Servir la React app acá.</p>
  </div>
</div>


</body>
</html>
